
<% 
  if service.down?
    service_class = "service-down"
  elsif service.warning?
    service_class = "service-warning"
  else
    service_class = "service-up"
  end
%>

<div class="service-panel-widget row <%=service_class%>">
  <div class="col d-flex flex-column justify-content-center service-info text-nowrap">
    <span class="service-name">
      <% unless Setting.group_services %>
        <%=service.device %> <br>
      <% end %>
      <%= service %>
    </span>
    <hr>
    <%=metrics_string(service)%> 
  </div>
  <div class="service-actions col-auto d-flex flex-column justify-content-center">
    <%= button_to service, method: :delete, class: "btn btn-danger btn-sm", data: {confirm: "Voce tem certeza que deseja parar de monitorar #{service.url}?"} do %>
      <%= fa_icon("minus-circle") %>
    <% end %>
    <button class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#editServiceModal<%=service.id%>"><%= fa_icon("pencil-alt") %></button>
    <%= button_to "/force_ping/#{service.id}.js", method: :get, class: "btn btn-secondary btn-sm", remote: true do  %>
      <%= fa_icon('play') %>
    <% end %>
    <a class="btn btn-info btn-sm text-white" data-content="<%=service_info_str service%>" data-toggle="popover" data-html="true"><%=fa_icon :info%></a>
  </div>
</div>

<div class="modal fade" id="editServiceModal<%=service.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><%= fa_icon(:times) %></span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "monitored_services/form", monitored_service: service %>
      </div>
    </div>
  </div>
</div>
