
<% 
  latest_log = service.latest_log
  delay = (latest_log.nil? or latest_log.delay.nil?) ? nil : latest_log.delay
  if service.down?
    class_of_border = "service-down"
  elsif service.warning?
    class_of_border = "service-warning"
  else
    class_of_border = "service-up"
  end
%>

<div class="service-panel-widget card mb-3 mx-1 <%=class_of_border%>">
  <div class="card-body">
    <div class="row">
      <div class="col text-nowrap">
        <span class="service-name">
          <%= service.name %>
        </span>
        <hr>
        <% if delay.present? %>
          <span>Atraso <%= number_with_precision (delay*1000.0), strip_insignificant_zeros: true %> ms</span>
          <br>
          <span>Taxa de entrega <%= number_with_precision (latest_log.delivery_ratio*100.0), precision: 1, strip_insignificant_zeros: true %> % </span>
        <% else %>
          <span>Atraso - ms </span>
          <br>
          <span>Taxa de entrega 0 % </span>
        <% end %>
        <br>
        <span class="badge badge-dark" data-content="<%=service.icmp? ? "ICMP" : "#{service.service_type.upcase}/#{service.port}"%>" data-toggle="popover" data-html="true">Porta</span>
        <span class="badge badge-info" data-content="<%=simple_format service.description%>" data-toggle="popover" data-html="true">Descrição</span>
      </div>
      <div class="col">
        <%= button_to service, method: :delete, class: "btn btn-danger btn-sm mb-3", data: {confirm: "Voce tem certeza que deseja parar de monitorar #{service.url}?"} do %>
          <%= fa_icon(:times) %>
        <% end %>
        <button class="btn btn-dark btn-sm" data-toggle="modal" data-target="#editServiceModal<%=service.id%>"><%= fa_icon("pencil-alt") %></button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editServiceModal<%=service.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "monitored_services/form", monitored_service: service %>
      </div>
    </div>
  </div>
</div>