
<% 
  if service.down?
    class_of_border = "service-down"
  elsif service.warning?
    class_of_border = "service-warning"
  else
    class_of_border = "service-up"
  end
%>

<div class="service-panel-widget card <%=class_of_border%>">
  <div class="card-body">
    <div class="row">
      <div class="col text-nowrap">
        <div class="service-name">
          <% unless Setting.group_services %>
            <%=service.device%> <br>
          <% end %>
          <%= service %>
        </div>
        <hr>
        <%=metrics_string(service)%> <br>
      </div>
      <div class="col d-flex flex-column justify-content-around">
        <%= button_to service, method: :delete, class: "btn btn-danger btn-sm", data: {confirm: "Voce tem certeza que deseja parar de monitorar #{service.url}?"} do %>
          <%= fa_icon("minus-circle") %>
        <% end %>
        <button class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#editServiceModal<%=service.id%>"><%= fa_icon("pencil-alt") %></button>
        <button class="btn btn-info btn-sm" data-content="<%=service_info_str service%>" data-toggle="popover" data-html="true"><%=fa_icon :info%></button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editServiceModal<%=service.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><%= fa_icon(:times) %></span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "monitored_services/form", monitored_service: service %>
      </div>
    </div>
  </div>
</div>