<%# FIXME not updating values after save %>
<%= simple_form_for @settings, url: root_path do |f| %>
    <%= f.error_notification %>
  
    <div class="form-inputs">
      <div class="row">
        <div class="col-lg"><%= f.input :max_log_age, label: "Tempo máximo de histórico", as: :select, collection: log_ages, include_blank: false %></div>
        <div class="col-lg"><%= f.input :stabilization_delay, label: "Atraso de estabilização", as: :select, collection: stabilization_delays, include_blank: false %></div>
        <div class="col-lg"><%= f.input :n_pings, label: "Número de pings por medição", as: :integer, input_html: {min: 1, max: 30} %></div>
      </div>
      
      <div class="row">
        <div class="col-lg"><%= f.input :user_login, label: "Nome de usuário de acesso" %></div>
        <div class="col-lg"><%= f.input :user_passwd, label: "Senha de acesso ao painel" %></div>
      </div>
      
      <div class="row">
        <div class="col-lg"><%= f.input :notification_email, label: "Email para notificações" %></div>
        <div class="col-lg"><%= f.input :group_services, label: "Agrupar serviços?", as: :select, collection: {"Sim" => true, "Não" => false}, include_blank: false %></div>
      </div>
      
      <div class="row">
        <div class="col-lg"><%= f.input :send_email_notifications, label: "Notificar por email?", as: :select, collection: {"Sim" => true, "Não" => false}, include_blank: false %></div>
        <div class="col-lg"><%= f.input :send_telegram_notifications, label: "Notificar por telegram?", as: :select, collection: {"Sim" => true, "Não" => false}, include_blank: false %></div>
        <div class="col-lg"><%= f.input :should_notify_warning_status, label: "Notificar alta latência?", as: :select, collection: {"Sim" => true, "Não" => false}, include_blank: false %></div>
      </div>
      
      <div class="row">
        <div class="col-lg">
          <a class="telegram_bot_username text-info" href="https://telegram.me/<%=Rails.application.secrets.telegram['bot']['username']%>"> <i class="fab fa-telegram"></i> Bot telegram </a>
        </div>
          
        <div class="col-lg">
          <label><%=fa_icon :key, text: "Chave secreta do telegram"%></label>
          <span class="telegram_secret_key alert-danger"><%=Setting.private_subscription_key%></span>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="form-actions offset-lg-2 col-lg-8">
        <%= f.submit "Salvar", class: "btn btn-primary btn-block" %>
      </div>
    </div>
<% end %>