
<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand" href="#">
      <%= image_tag :logo_casebras, height: "35px", width: "35px" %>
      Monitoramento Casebrás
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#newDeviceModal"><%= fa_icon(:server, text: "Novo dispositivo") %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#newServiceModal"><%= fa_icon(:eye, text: "Novo sensor") %></a>
      </li>
      <li class="nav-item">
        <%= link_to fa_icon(:user, text: @current_user.name.split.first), edit_user_path(@current_user), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to fa_icon("sign-out-alt", text: "Sair"), logoff_path, class: "btn btn-danger" %>
      </li>
    </ul>
  </div>
</nav>

<div class="modal fade" id="newDeviceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "devices/form" %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newServiceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "monitored_services/form" %>
      </div>
    </div>
  </div>
</div>

<%#TODO Make counters prettier%>
<div class="d-flex justify-content-between mt-3 mb-1">
  <div id="status-counters">
    <div class="status-counter status-counter-up">
      <!--<span class="counter-label">UP</span>-->
      <span class="counter-value"><%=@status_counter[:up]%></span>
    </div>
    <div class="status-counter status-counter-warning">
      <!--<span class="counter-label">WARN</span>-->
      <span class="counter-value"><%=@status_counter[:warning]%></span>
    </div>
    <div class="status-counter status-counter-down">
      <!--<span class="counter-label">DOWN</span>-->
      <span class="counter-value"><%=@status_counter[:down]%></span>
    </div>
  </div>
  
  <div id="panel-commands" class="d-inline-flex justify-content-end">
    <% refresh_intervals = {"segundo" => 1, "30 segundos" => 30.seconds, "minuto" => 1.minute, "10 minutos" => 10.minutes, "hora" => 1.hour} %>
    <% warning_delays = {"100ms" => 0.1.seconds, "200ms" => 0.2.seconds, "500ms" => 0.5.seconds, "1s" => 1.second} %>
    
    <%= button_to "/refresh_panel.js", remote: true, data: {"disable-with" => "Atualizando..."}, id: "refresh_bttn", class: "btn btn-success", method: :get do %>
      <%= fa_icon "sync-alt", text: "Atualizar" %>
    <% end %>
    
    <%= button_to "/force_ping.js", remote: true, data: {"disable-with" => "Pingando..."}, id: "force_ping_bttn", class: "btn btn-primary", method: :get do %>
      <%= fa_icon "play", text: "Forçar medição" %>
    <% end %>
    
    <div class="d-inline">
      <%= simple_form_for :update_refresh_delay, url: "/update_refresh_delay.js", remote: true, wrapper: :inline_form, html: { class: 'form-inline d-inline' } do |f| %>
        <%= f.input :seconds, as: :select, collection: refresh_intervals, include_blank: "Atualizações a cada:", label: false, input_html: {:onchange=>'$(this.form).submit();', title: "Tempo entre atualizações da página", "data-toggle"=>"tooltip", "data-html"=>"true", "data-placement"=>"bottom"} %>
      <% end %>
    </div>
    
    <div class="d-inline">
      <%= simple_form_for :update_warning_delay, url: "/update_warning_delay.js", remote: true, wrapper: :inline_form, html: { class: 'form-inline d-inline' } do |f| %>
        <%= f.input :seconds, as: :select, collection: warning_delays, include_blank: "Alta latência:", label: false, input_html: {:onchange=>'$(this.form).submit();', title: "Intervalo de tempo considerado de alta latência", "data-toggle"=>"tooltip", "data-html"=>"true", "data-placement"=>"bottom"} %>
      <% end %>
    </div>
  </div>
</div>

<div id='service-container' class="d-flex justify-content-center flex-wrap">
  <% @devices.each do |device| %>
    <%= render partial: "device", locals: {device: device}%>
  <% end %>
</div>

<script>
  <%= render "update_refresh_delay.js" %>
</script>