
<div class="container">
  <%= simple_form_for(@user) do |f| %>
    <%= f.error_notification %>
  
    <div class="form-inputs">
      <div class="row">
        <div class="col"> <%= f.input :login %> </div>
        <div class="col"> <%= f.input :name %> </div>
      </div>
      <div class="row">
      <% unless @user.new_record? %> <div class="col"> <%= f.input :update_password, as: :select, include_blank: false, collection: [:true, :false] %> </div> <% end %>
      <div class="col"> <%= f.input :password %> </div>
      <div class="col"> <%= f.input :password_confirmation %> </div>
      </div>
      <%= f.input :email %>
    </div>
  
    <div class="form-actions row">
      <div class="col"> <%= f.button :submit, class: "btn btn-primary btn-block" %> </div>
      
      <div class="col"> <%= link_to "Voltar", :back, class: "btn btn-secondary btn-block" %> </div>
    </div>
  <% end %>
</div>
