<%
if defined? monitored_service
  @monitored_service = monitored_service
end
%>

<%= simple_form_for @monitored_service do |f| %>
  <%= f.error_notification %>
  
  <% if f.object.errors[:base].any? %>
    <div class="alert alert-warning">
      <% f.object.errors[:base].each do |m| %>
        <%= m %>
      <% end %>
    </div>
  <% end %>
  
  <div class="form-inputs">
    <div class="row">
      <div class="col-md"><%= f.input :name, label: "Nome do serviço" %></div>
      <div class="col-md"> <%= f.input :force_create, label: "Pular verificação inicial?", as: :select, collection: {"Sim" => true, "Não" => false}, include_blank: false %> </div>
    </div>
    <div class="row">
      <div class="col-md"> <%= f.association :device, label: "Nome do dispositivo" %> </div>
      <div class="col-md"> <%= f.input :warning_delay, wrapper: :vertical_input_with_append, append: "milissegundos", as: :integer, label: "Limiar de atraso elevado" %> </div>
    </div>
    <div class="row">
      <div class="col-md"> <%= f.input :service_type, label: "Tipo de serviço", as: :select, collection: MonitoredService.service_types.keys %> </div>
      <div class="col-md"> <%= f.input :port, label: "Porta de rede" %> </div>
    </div>
    <%= f.input :description, label: "Descrição longa" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Salvar", id: "start_monitoring_bttn", class: "btn btn-block btn-primary", data: {"disable-with" => "Enviando..."} %>
  </div>
<% end %>
