<%
if defined? monitored_service
  @monitored_service = monitored_service
end
%>

<%= simple_form_for @monitored_service, remote: true do |f| %>
  <%= f.error_notification %>
  
  <% if f.object.errors[:base].any? %>
    <div class="alert alert-warning">
      <% f.object.errors[:base].each do |m| %>
        <%= m %>
      <% end %>
    </div>
  <% end %>
  
  <div class="form-inputs">
    <%= f.input :name, label: "Nome do monitoramento" %>
    <%= f.input :service_type, label: "Tipo de serviço", as: :select, collection: MonitoredService.service_types.keys %>
    <%= f.input :host, label: "Endereço IP ou nome do dispositivo" %>
    <%= f.input :port, label: "Porta de rede" %>
    <%= f.input :description, label: "Descrição longa" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Salvar", id: "start_monitoring_bttn", class: "btn btn-block btn-primary", data: {"disable-with" => "Enviando..."} %>
  </div>
<% end %>
