
<p>O Serviço <strong><%=@service%></strong> do dispositivo <strong><%=@service.device%></strong> encontra-se <strong><%=@status_str%></strong></p>
<p>URL do serviço: <strong><%=@service.url%></strong></p>
<p>Momento do evento: <%=I18n.localize DateTime.now, format: :long%></p>
