<h2>Um serviço se encontra indisponível</h2>

<p>O Serviço <strong><%=@service%></strong> do dispositivo <strong><%=@service.device%></strong> se encontra <strong><%=@status_str%></strong></p>
<p>URL do serviço: <strong><%=@service.url%></strong></p>
<p>Momento do evento: <%=I18n.localize DateTime.now, format: :long%></p> <%#FIXME wrong timezone on e-mail HTML%>
