<!DOCTYPE html>
<html>
<head>
  <title>MST</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body class="bg-secondary">

<div id="main-container" class="container-responsive m-3 p-3">
  
  <% if notice.present? or alert.present? %>
    <div class="modal fade" id="notification-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><%=fa_icon :times%></span>
            </button>
          </div>
          <div class="modal-body">
            <%= simple_format notice unless notice.nil?  %> 
            <span class="text-alert"><%= simple_format alert unless alert.nil? %> 
          </div>
        </div>
      </div>
    </div>
  <% end %>
  
  <div class="contents"> <%= yield %> </div>
  
  <hr>
  <footer class="bg-faded text-right text-white">
    MST <span class="d-none d-md-inline"> - Monitoramento de Serviços de Tecnologia </span> &copy; 2018 <span class="d-none d-sm-inline"> | contato: </span> helpdesk@casebras.com.br
  </footer>
  
  <script defer src="<%= asset_path "font-awesome.js" %>"></script>
</div>

</body>
</html>
