<!DOCTYPE html>
<html>
<head>
  <title>Monitoramento Casebrás</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body>

<div class="container-responsive m-3 p-3">
  
  <% if notice.present? or alert.present? %>
    <div class="modal fade" id="notification-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= simple_format notice unless notice.nil?  %> 
            <span class="text-alert"><%= simple_format alert unless alert.nil? %> 
          </div>
        </div>
      </div>
    </div>
  <% end %>
  
  <div class="contents"> <%= yield %> </div>
  
  <footer class="bg-faded mt-4 text-right text-muted">
    MST - Monitoramento de Serviços de Tecnologia | contato: helpdesk@casebras.com.br | &copy 2018
  </footer>
  
  <script defer src="<%= asset_path "font-awesome" %>"></script>
</div>

</body>
</html>
